@model EGE.Web.Models.CreditSearchModel

@{
    ViewBag.Title = "SearchResultList";
}

<h2>SearchResultList</h2>
@using (Html.BeginForm("SearchResult", "Credits", FormMethod.Get))
{
    <div class="row">

        <div class="form-horizontal">
            <div class="col-lg-3">
                @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", @placeholder = "Баркод" })
            </div>
            
            <div class="col-lg-3">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <a class="btn btn-success pull-right" data-modal="" href='@Url.Action("Create","Credits")' id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>

    <div style="margin-top:17px;">
        @{
    var grid = new WebGrid(
                    canPage: true,
                  //  rowsPerPage: Model.PageSize,
                    canSort: true,
                    ajaxUpdateContainerId: "grid");

    grid.Bind(Model.Credits, rowCount: Model.TotalRecords, autoSortAndPage: false);
    grid.Pager(WebGridPagerModes.All);

    @grid.GetHtml(htmlAttributes: new { id = "grid" },
        fillEmptyRows: false,
        tableStyle: "table table-bordered table-hover",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
              grid.Column("Id", "ID"),
              grid.Column("Barcode", "Barcode", style: "col-lg-3"),
              grid.Column("Type", "Type", style: "col-lg-3"),
              grid.Column("OwnerId", "OwnerId", style: "col-lg-3"),
              grid.Column("Sum", header: "Sum", format: @<text>@String.Format("{0:C}", item.Sum) </text>),
              grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                @Html.Raw("<a data-modal='' href='/credits/details/" + item.Id + "' id='" + item.Id + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/credits/edit/" + item.Id + "' id='" + item.Id + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/credits/delete/" + item.Id + "' id='" + item.Id + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                </text>)
                                                ));
        }
    </div>
}
